@{
    ViewBag.Title = "Index";
}


<div style="padding: 12px;">
    <h3>Agreement</h3>
    <hr />
    <a href="/">Home</a> |
    <a href="/Project/New">New</a> |
    <a href="/Project/Edit">Edit</a> |

    <div ng-view></div>
</div>