<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<appSettings>
  <add key="sbConnString" value="Endpoint=sb://heather/ServiceBusDefaultNamespace;StsEndpoint=https://heather:9355/ServiceBusDefaultNamespace;RuntimePort=9354;ManagementPort=9355"/>
</appSettings>
</configuration>